<form class="container" method="POST">
    <h1>JustHo Admin</h1>
    <br>
    <blockquote>
        운영툴 테스트 페이지 입니다.
    </blockquote>
    <br>
    <input type="hidden" id="campaignid" name="campaignid" />
    <div class="w3-padding w3-white notranslate">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Mainimage</th>
                    <th>title</th>
                    <th>description</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                <% campaigns.forEach(function(item){ %>
                <tr>
                    <td><%- item.ID %></td>
                    <td><img height="100px" src="<%- item.MAINIMAGE %>"></td>
                    <td><%- item.TITLE %></td>
                    <td><%- item.DESCRIPTION %></td>
                    <td>
                        <button type='button' onclick="location.href='/campaign/<%- item.ID %>'" class="btn btn-outline-primary">수정</button>
                        <button data-delete-id="<%- item.ID %>" class="btn btn-outline-danger">삭제</button>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</form>